<header>
    <nav>
        <a class="logo" href="../">
            <img src="/assets/iconSite.svg" alt="Logo de la empresa">
            <span class="titleSite">e-Tech</span>
        </a>
        <a class="cart" href="../cart" id="cartBtn">
            <img src="/assets/cart.svg" alt="Icono representativo del carrito de compras">
            <span>{{#if cantCart}}{{cantCart}}{{/if}}</span>
        </a>
    </nav>
</header>
<main>
    <section class="cnt-error">
        <img src="/assets/sad.svg" alt="ICono de error 404">
        <p>{{numberError}}</p>
    </section>
</main>