<header>
    <nav>
        <a href="./">Home</a>
        <a href="#" class="actaul-pg">Products RT</a>
    </nav>
</header>
<main>
    <section class="list-container" id="list-container">
        
    </section>
</main>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/productsrt.js"></script>